<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="https://rawgit.com/janteuni/sushicons/master/dist/style.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="style-icomoon.css">
    <title>Sushicons</title>
  </head>
  <body>
  <header>
      <a class="link" href="https://github.com/janteuni/sushicons" target="_blank">
          <i class="icon-github"></i>
      </a>
      <a class="link" href="https://www.behance.net/janteuni" target = "_blank">
          <i class="icon-behance"></i>
      </a>
  </header>
    <h1>Sushicons</h1>
    <section class="container">
        {{#icons}}
        <div class="icon">
            <i class="{{.}}"></i>
            <p>
                <span class="sushi-name">
                    .{{.}}
                </span>
            </p>
        </div>
        {{/icons}}
    </section>
    <section class="install">
        <h2>Install</h2>
        <p>get bower package</p>
        <pre>bower install sushicons --save</pre>
        <p>link dependencies</p>
        <pre>&lt;link rel="stylesheet" href="bower_components/sushicons/dist/style.css"></pre>
    </section>
    <section class="install">
      <div class="example">
          <i class="si-lasvegas i-large"></i>
          <i class="si-lasvegas i-med"></i>
          <i class="si-lasvegas i-small"></i>
      </div>
      <h2>Usage</h2>
      <p>add class on your html element</p>
      <pre>&lt;i class="si-lasvegas">&lt;/i></pre>
      <p>and style icon</p>
      <pre>
i {
  font-size: 21px;
  color: #37474F;
}</pre>
    </section>
  </body>
</html>
